<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}UPS{% endblock %}</title>
    {% load staticfiles %}
{#    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
{#整个的模板框架#}
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
{#字体#}
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}"/>
{#引用css，背景，navbar，字体#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>#}
{#不知道有什么用#}
{#    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>#}
{#不知道有什么用#}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
            <a class="navbar-brand" href="{% url 'event:index' %}">UPS</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li class="{% block register_active %}{% endblock %}"><a href="{% url 'event:register' %}">Register</a></li>
                <li class="{% block login_active %}{% endblock %}"><a href="{% url 'event:login_user' %}">Log In</a></li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
