{% extends 'event/base.html' %}
{% block title %}Change Destination{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="panel panel-defult">
        <div class="panel-body">
            {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'event/form_template.html' %}
                <div class="col-sm-offset-2 col-sm-10">
                    <small style="color:orangered">Set the destination.</small>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Save Destination</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}